
.box {
    background-color: aqua;
    color: black;
    padding:10px;
    border-color: black;
}

.btn{
    background-color: crimson;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid white;
}

.btn2{
    border-radius: 20px;
}

li{
    background-color: yellowgreen;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
}
.hover-box{
    width:20px;
    height:20px;
    border:2px solid rgb(137, 28, 28);
}
.div {
    padding: 30px;
    background-color: lightblue;
}

.div {
    padding: 30px;
    background-color: lightgreen;
}
    

.div {
    padding: 30px;
    background-color:lightgray ;
}

.div {
    padding: 30px;
    background-color: burlywood;
}
    
       
       
       